<section class="phx-hero">
  <h1><%= gettext "Generate a great take" %></h1>
  <p><%= gettext "make your opinion known" %></p>
</section>

<section class="row">
  <article class="column">
    <div><%= tweet() %></div>
  </article>
</section>
